.codeIcon {
  font-size: 40px !important;
  display: block !important;
  margin: 20px auto 10px auto;
}

.AppContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}


.AppContainer a {
  width: 47%;
  display: block;
  margin: auto;
  cursor: pointer;
}

.AppLive {
  display: block;
  margin: auto;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.12);
}
@media only screen and (max-width: 767px) {
  h3 {
    font-size: 25px !important;
  }
}
